:root{
    --theme-green: #46c768;
}


header{
    width: 100vw;
    display:block;
    background-image: url("images/Showroom.png");
    height:900px;
    background-size: cover;
    float:none;
}

#headingPart{
    width:100vw;
    display: flex;
    align-content: center;
    justify-content: center;
}

.headerSection{
    width:90vw;
    display:flex;
    height:60px;
    background-color: #46c768;
    align-items: center;
    margin-top: 1em;
    border-radius: 6px;
}

#leftHeaderSection{
    display:flex;
    height:100px;
    width: 45vw;
    align-items: center;
    
}

#leftHeaderSection img{
    width:250px;
    height: 45px;
    padding-left: 20px;
}

#rightHeaderSection{
    display:flex;
    height:60px;
    width: 50vw;
    justify-content: right;
    align-items: center;
}

video{
    object-fit: fill;
    border:1px solid #46c768;
}
#rightHeaderSection button:hover{
    background-color: white;
    cursor: pointer;
    color:#46c768;
}

#rightHeaderSection button{
    height:25px;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    color: white;
    margin-left: 15px;
    margin-right:20px;
    background-color: #46c768;
    border: 0;
    font-family: 'Bruno Ace', sans-serif;
}


body{
    margin: 0;
    border: 0;
    padding:0;
    width:100vw;
    overflow-x:hidden;
    display:block;
}

/*here*/
.landingHeading {
	margin-bottom: 100px;
}

.landingHeading h1 {
	color: #595555;
    text-align: center;
    font-size:3em;
    font-family: 'Bruno Ace', sans-serif;
}

.main-form-section {
	display: flex;
	margin-bottom: 100px;
}

.main-form-section img {
	width: 400px;
	height: 266px;
	margin-left: 10%;
	align-content: center;
	flex-grow: 0;
	z-index: 1;
	position: relative;
	top: 150px;
}

form {
    box-shadow: 0px 0px 40px 0px rgba(179,179,179,1);
	background-color: #f8f8f8;
	display: flex;
    flex-direction: column;
	min-height: 600px; /*remove this when done*/
	padding: 10px 20px;
    font-family:'Racing Sans One', sans-serif;
}

form h2{
    font-size: 40px;
    font-family:'Racing Sans One', sans-serif;
}

.form-column {
	display: flex;
	flex: 0 0 100px;
	
}

.container {
	margin: 10px 10px;
    display: flex;
	flex-direction: column;
	justify-content: center;	
	
}

label {
	font-size: 18px;
	font-family: 'Racing Sans One', sans-serif;
	margin-bottom: 5px;
}

.no-flex {
	padding: 30px 10px 10px 10px;
}

.no-flex input {
	margin-top: 15px;
	display: block;
	width: 530px;
	height: 100px;
}

.submit-button {
	margin-top: 30px;
	margin-left: 10px;
	width: 150px;
	background-color: #46c768;
	padding: 10px 10px;
	font-family: 'Bruno Ace', sans-serif;
	font-size: 16px;
	border: none;
}

.submit-button:hover {
  background-color: #04AA6D;
  color: white;
}

#fname, #lname, #email, #phnum {
	height: 30px;
	width: 250px;
	font-size: 18px;
}

#discuss {
	font-size: 18px;
}

span {
	color: darkorange;
	
}

/*here*/

.aboutSection{
    display:flex;
    justify-content: center;
    width:100vw;
	margin-bottom: 100px;
	background-color: #eee;
}

.aboutContainer{
    width:80%;
    background-color: #46c768;
    border-radius: 10px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin: 30px 0px;
    padding: 30px;


}

.aboutContainer #CEOImageContainer{
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.aboutContainer #CEOImageContainer img{
    width:80%;
}

#aboutCompanyContainer{
    background-color: rgb(43, 171, 21);
    height:100%;
    width:100%;
    display:grid;
    grid-template-rows: 10% 90%;  
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#aboutHeadingContainer{
    display: flex;
    width:100%;
    justify-content:center;
    text-align: center;
}

#aboutParagraphContainer{
    display: flex;
    width:100%;
    justify-content:center;
    text-align: center;
}

#aboutHeadingContainer h1{
    margin-top: 5%;
    width:100%;
    font-family: 'Bruno Ace', sans-serif;
    color:aliceblue;
    font-size:30px;

}

.aboutContainer #aboutCompanyContainer p{
    width:80%;
    color:aliceblue;
    font-family: 'Racing Sans One', sans-serif;
    font-size:20px;
    text-align: justify;

}

/* NEXT SECTION*/

.mapAndContactSection{
    /*temp*/
    background-image: url("images/roads.png");
    background-size: cover;
    width:100vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

.mapAndContactContainer{
    display:grid;
    background-color: #46c768;
    width:80%;
    margin: 100px;
    grid-template-rows: 1fr 0.5fr;
    justify-content: center;
}

.mapContainer{
    display:grid;
    grid-template-rows: 15% 85%;
    justify-content: center;
    width:100%;
    text-align: center;
}

.mapContainer iframe{
    padding:20px 0;
    width:70vw;
    height:450px; 
    border:0; 
}

.mapContainer h1{
    font-size: 3rem;
    color: aliceblue;
    font-family: 'Racing Sans One', sans-serif;
} 

.contactContainers{
    width:100%;
    display:grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.contactContainers i{
    margin-right:20px;
}

.contactContainer{
    display:flex;
    height:100px;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-family: 'Bruno Ace', sans-serif;
    color:whitesmoke;
}

#contactOne{
    display:flex;
    align-items: center;
    border-bottom: 1px solid white;
}

#contactTwo{
    display:flex;
    align-items: center;
    border-bottom: 1px solid white;
}

#contactThree{
    display:flex;
    align-items: center;
}


/* footer starts from here */

.footerContent {
	background-color: #46c768;
	display: flex;
	justify-content: space-around;
}

.footer-img {
	position: relative;
	top:9px;
}

.information {
	font-family: 'Bruno Ace', sans-serif;
	font-size: 15px;
}

.socials {
	display: flex;
	align-items: center;
	min-width: 150px;
	justify-content: space-between;
}

.copyright {
	align-items: center;
	padding: 15px 0px 0px 0px;
	font-family: 'Bruno Ace', sans-serif;
	font-size: 12px;
}
.copyright span {
	font-family: sans-serif;
	font-size: 15px;
}

.footerContent h1 {
	font-family: 'Bruno Ace', sans-serif;
	font-size: 44px;
	color:white;
	margin: 0;	
}

.footerContent{
    font-family:"Roboto" sans-serif;
}

footer{
    clear:both;
}

#cRight{
    font-size:15px;
}