body{
    margin: 0;
    border: 0;
    padding:0;
    width:100vw;
    overflow-x:hidden;
    display:block;
}
/* header stuff START */

header{
    width: 100vw;
    display:block;
    background-image: url("images/Showroom.png");
    height:900px;
    background-size: cover;
    float:none;
}

#headingPart{
    width:100vw;
    display: flex;
    align-content: center;
    justify-content: center;
}

.headerSection{
    width:90vw;
    display:flex;
    height:60px;
    background-color: #46c768;
    align-items: center;
    margin-top: 1em;
    border-radius: 6px;
}

#leftHeaderSection{
    display:flex;
    height:100px;
    width: 45vw;
    align-items: center;
    
}

#leftHeaderSection img{
    width:250px;
    height: 45px;
    padding-left: 20px;
}

#rightHeaderSection{
    display:flex;
    height:60px;
    width: 50vw;
    justify-content: right;
    align-items: center;
}

video{
    object-fit: fill;
    border:1px solid #46c768;
}
#rightHeaderSection button:hover{
    background-color: white;
    cursor: pointer;
    color:#46c768;
}

#rightHeaderSection button{
    height:25px;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    color: white;
    margin-left: 15px;
    margin-right:20px;
    background-color: #46c768;
    border: 0;
    font-family: 'Bruno Ace', sans-serif;
}

.landingHeading{
    display:flex;
    color: white;
    font-size: 3em;
    justify-content: center;
    margin-top: 10px;
    font-family: 'Racing Sans One', sans-serif;
}

.landingVideo{
    display: flex;
    width:100vw;
    height:405px; 
    justify-content: center;
}

/* Header Stuff END */
main{
    height:100px;
    background-color: white;
    display:block;
    width:100vw;
}
/* Body Stuff BEGIN */

.landingCatalogHeading{
    width:100vw;
    display: flex;
    justify-content: center;
    margin-top: 1em;
    font-size: 3em;
    font-family: 'Racing Sans One', sans-serif;
    color: #46c768;
}


.landingGridHolder{
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.landingCatalogGrid{
    width:90%;
    display: grid;
    margin-top: 10px;
    margin-bottom: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
}


.box{
    width:42vw;
    height:23.63vw;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    color:white;
    background-size: cover;
    filter:brightness(50%);
}

#box-a{
    background-image: url("images/hatchback.jpg");
}

#box-b{
    background-image: url("images/Sedan.jpg");
}

#box-c{
    background-image: url("images/Truck.jpg");
}

#box-d{
    background-image: url("images/SUV.jpg");
}

.box:hover, .box img:hover{
    color:#46c768;   
    filter: brightness(100%);
    cursor: pointer;
}

#box-a:hover, #box-b:hover, #box-c:hover, #box-d:hover{
    filter:brightness(100%);
}

.centered{
    filter:brightness(100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Racing Sans One', sans-serif;
    font-size: 70px;
}


/* CSS by Mohsin */

.main-section {
	background-image: url('images/cars-on-a-parking.jpg');
	background-size:cover;
	object-fit:fill;
	background-position-y: 80;
	padding: 5em 0em;
	display: block;
	margin-top: 150px;
}

.main-div {
	display: grid;
	align-items: center; 
	justify-items: center;
	padding-left: 1em;
	padding-right: 1em;
	grid-template-columns: 1fr 1fr;
	column-gap: 5px;
	margin: 0px 100px;
}

.section-img  {
	margin: 20px 20px;
	width:450px;
}

.text {
	width: 450px;
	font-family: 'Bruno Ace', sans-serif;
	font-size: 18px;
	color: white;
	text-align: justify;
}

b{
	font-size: 25px;
	color: #46c768;
}

.text button {
	margin-top: 20px;
	background-color: #46c768;
	padding: 10px 10px;
	font-family: 'Bruno Ace', sans-serif;
	font-size: 16px;
	border: none;
}

.text button:hover {
  background-color: #04AA6D;
  color: white;
}

#headingTwo{
    color:white;
}

/* footer starts from here */

.footerContent {
	background-color: #46c768;
	display: flex;
	justify-content: space-around;
}

.footer-img {
	position: relative;
	top:9px;
}

.information {
	font-family: 'Bruno Ace', sans-serif;
	font-size: 15px;
}

.socials {
	display: flex;
	align-items: center;
	min-width: 150px;
	justify-content: space-between;
}

.copyright {
	align-items: center;
	padding: 15px 0px 0px 0px;
	font-family: 'Bruno Ace', sans-serif;
	font-size: 12px;
}
.copyright span {
	font-family: sans-serif;
	font-size: 15px;
}

.footerContent h1 {
	font-family: 'Bruno Ace', sans-serif;
	font-size: 44px;
	color:white;
	margin: 0;	
}

.footerContent{
    font-family:"Roboto" sans-serif;
}

footer{
    clear:both;
}

#cRight{
    font-size:15px;
}